* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 345px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin: 0 auto; */
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

h1 {
    margin: 10px 0;
}

.image {
    display: flex;
    justify-content: center;
    width: 300px;
    height: auto;
    margin: auto;
}

.card-body {
    margin: 10px 0;
    text-align: justify;
}

#playMuteBTN {
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px cadetblue;
    font-size: 0.8em;
}

#playMuteBTN:active {
    box-shadow: 0px 0px blue;
    transform: translateX(4px) translateY(4px);
    transition: 0.09s;
}